
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: gray;
}

#container {
    margin: 20px auto;
    width: 640px;
}

#game_canvas {
    background-color: white;
}
